#playerSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 95%;
  display: none;
}

#musicPlayerScreen {
  width: 300px;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  display: block;
  box-shadow: 0 0 10px 0 #393939;
}

.songGif {
  width: 100%;
  height: 320px;
  border: 2px solid #393939;
}

.songTitle {
  display: block;
  font-size: 25px;
  padding: 5px;
}

.songAuthor {
  font-size: 18px;
  color: #3f3f3f;
}

.progressBar {
  width: 100%;
  margin: 10px auto 10px auto;
  height: 2px;
  border-top: 2px solid #393939;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid #393939;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

progress {
  height: 2px;
  width: 0%;
}

.progressMark {
  width: 10px;
  height: 15px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
}

.controlsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.musicBtn {
  height: 40px;
  width: 40px;
}

.volumeBtn {
  height: 30px;
  width: 30px;
}

.currentTime,
.endTime {
  width: 30px;
  font-size: 13px;
  user-select: none;
}

@media (max-width: 500px) {
  #musicPlayerScreen {
    width: 280px;
  }

  .songTitle {
    font-size: 20px;
    padding: 3px;
  }

  .songAuthor {
    font-size: 15px;
  }

  .progressMark {
    width: 9px;
    height: 13.5px;
  }

  .musicBtn {
    height: 35px;
    width: 35px;
  }

  .volumeBtn {
    height: 26px;
    width: 26px;
  }
}
