* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "windows-95";
}

@font-face {
  font-family: "windows-95";
  src: url("../fonts/W95FA.otf");
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
  transition: 0.3s;
}

button:hover {
  background: #a8a8a8;
}

#app {
  padding-top: 1vh;
  padding-left: 1vh;
}

.sideTitles {
  margin-top: 1vh;
  font-size: 2vh;
}

.btnsImages {
  position: relative;
  width: 8vh;
}

.sideBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
  color: white;
}

#playerSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: none;
}

#musicPlayerScreen {
  width: 300px;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  display: block;
}

.songGif {
  width: 100%;
  height: 300px;
  border: 2px solid #393939;
}

.songTitle {
  display: block;
  font-size: 25px;
  padding: 5px;
}

.songAuthor {
  font-size: 18px;
  color: #3f3f3f;
}

.progressBar {
  width: 100%;
  margin: 10px auto 10px auto;
  height: 2px;
  border-top: 2px solid #393939;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #393939;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

progress {
  height: 2px;
  width: 0%;
}

.progressMark {
  width: 10px;
  height: 15px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
}

.controlsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.musicBtn {
  height: 40px;
  width: 40px;
}

.volumeBtn {
  height: 30px;
  width: 30px;
}

.currentTime,
.endTime {
  width: 30px;
  font-size: 13px;
}

@media (max-width: 500px) {
  #musicPlayerScreen {
    width: 280px;
    height: 73%;
  }

  .songTitle {
    font-size: 20px;
    padding: 3px;
  }

  .songAuthor {
    font-size: 15px;
  }

  .progressMark {
    width: 9px;
    height: 13.5px;
  }

  .musicBtn {
    height: 35px;
    width: 35px;
  }

  .volumeBtn {
    height: 26px;
    width: 26px;
  }
}

#computerSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: none;
}

#computerScreen {
  width: 50rem;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  display: none;
}

#computerContent {
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 25px;
}

.wallpaper {
  width: 100%;
  height: 16vh;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  cursor: pointer;
}

.computerMainContent {
  font-size: 25px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

@media (max-width: 500px) {
  #computerScreen {
    width: 82%;
  }

  #computerContent {
    gap: 15px;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin-top: 15px;
  }

  .wallpaper {
    width: 110px;
    height: 65px;
  }

  .computerMainContent {
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

@media (min-width: 501px) and (max-width: 850px) {
  #computerScreen {
    width: 90%;
  }

  #computerContent {
    gap: 10px;
    margin-top: 15px;
  }

  .wallpaper {
    width: 100%;
    height: 100%;
  }

  .computerMainContent {
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

#configSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: none;
}

#configScreen {
  width: 30rem;
  height: auto;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  display: none;
}

#configContent {
  width: 100%;
  height: 90%;
  flex-direction: column;
  display: flex;
}

#configMainContent {
  font-size: 25px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

#configSubContent {
  font-size: 22px;
  margin-top: 10px;
  margin-left: 5px;
  flex-direction: row;
  display: flex;
}

#configsTitles,
#wppConfigs {
  display: flex;
  flex-direction: row;
}

#configTitles {
  display: flex;
  flex-direction: column;
}

#configBtns {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: auto;
}

#soundBtns,
#wppBtns {
  display: flex;
  flex-direction: row;
}

.OnOffBtn {
  margin-left: 10px;
  width: 2.5rem;
  height: 1.7rem;
  font-size: 15px;
}

@media (max-width: 500px) {
  #configScreen {
    width: 82%;
  }

  #configMainContent {
    font-size: 20px;
  }

  #configSubContent {
    font-size: 18px;
    gap: 10px;
  }

  .OnOffBtn {
    margin-right: 0;
    margin-left: auto;
    width: 2rem;
    height: 1.4rem;
  }

  #soundBtns,
  #wppBtns {
    gap: 7px;
  }
}

#infoSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: none;
}

#infoScreen {
  width: 30rem;
  height: 16rem;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  display: none;
}

#infoContent {
  width: 100%;
  height: 90%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

#infoMainContent {
  font-size: 25px;
}

.infoSubContent {
  font-size: 20px;
}

@media (max-width: 500px) {
  #infoScreen {
    width: 82%;
    height: 18rem;
  }

  #infoMainContent {
    font-size: 18px;
  }

  .infoSubContent {
    font-size: 16px;
  }
}

#startSection {
  position: absolute;
  top: 0;
  right: 0;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  display: none;
}

#startScreen {
  width: 18rem;
  height: 28rem;
  padding: 10px;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
}

#startMainContent {
  font-size: 25px;
  margin-left: 5px;
  margin-bottom: 10px;
}

.startSubContent {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
}

#start {
  cursor: pointer;
}

@media (max-width: 500px) {
  #startScreen {
    width: 82%;
    height: 25rem;
  }

  #startMainContent {
    font-size: 22px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .startSubContent {
    font-size: 16px;
    margin-top: 10px;
  }
}

.screenHeader {
  color: white;
  background-color: #000181;
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  padding: 5px;
}

.headerImg {
  width: 1.5rem;
  height: 1.3rem;
  padding-right: 3px;
}

.screenTitle {
  display: flex;
  align-items: center;
}

.closeScreenBtn {
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.footerImg {
  width: 3vh;
  padding-right: 3px;
}

#footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  width: 100%;
  height: 5vh;
  bottom: 0;
  left: 0;
}

#start,
#clock {
  background: #c0c0c0;
  font-size: 1.1rem;
  height: 3.5vh;
  padding-left: 3px;
  padding-right: 3px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
