* {
  box-sizing: border-box;
}

@font-face {
  font-family: "windows-95";
  src: url("../fonts/W95FA.otf");
}

body {
  background-image: url("https://64.media.tumblr.com/a2f6b0a54e45c0280c5f1f2a2311b46d/564c2311c24eaca6-8d/s540x810/504d5245be7f5c9d4e473026ea4ed3396e2970ab.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "windows-95";
}

.sideTitles {
  margin-top: 1vh;
}

.btnsImages {
  position: relative;
  width: 8vh;
}

.sideBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  margin-left: 0.2rem;
  margin-top: 0.6rem;
  color: white;
}

.footerImg {
  width: 4vh;
}

#footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c0c0c0;
  border-top: 2px solid white;
  width: 100%;
  height: 5vh;
  bottom: 0;
  left: 0;
}

#start,
#clock {
  background: #c0c0c0;
  height: 4vh;
  padding: 1px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#screens {
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: none;
  text-align: center;
}

#musicPlayerScreen {
  background-color: #c0c0c0;
  padding: 10px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
}

.screenHeader {
  color: white;
  background-color: #000181;
  display: flex;
  width: 40vh;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  padding: 8px;
}

.screenTitle {
  display: flex;
  align-items: center;
}

.songTitle {
  display: block;
  font-size: 30px;
  padding: 5px;
}
.songAuthor {
  display: block;
  font-size: 18px;
}

.progressBar {
  margin: 10px auto 10px auto;
  width: 100%;
}

.controlsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  cursor: pointer;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #393939;
  border-bottom: 2px solid #393939;
  border-radius: 0;
  background: #c0c0c0;
  transition: 0.3s;
}

button:hover {
  background: #909090;
}

.musicBtn {
  height: 40px;
  width: 40px;
}

.volumeBtn {
  height: 30px;
  width: 30px;
}

.screenImg {
  height: 3vh;
  padding-right: 3px;
}

.musicTimer,
.musicTime {
  font-size: 13px;
}

.ghibli {
  width: 100%;
  height: 250px;
  border: 2px solid #393939;
}
